<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab Inventory</title>
    <!-- External Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Navbar -->
    <header class="navbar">
        <div class="navbar-left">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Lab Logo"  style="height:75px; width:auto; margin-right40px;">
 
            <span class="navbar-title">Lab Inventory</span>
        </div>
        <nav class="navbar-links">
            <a href="{{ url_for('home') }}" class="{% if request.endpoint == 'home' %}active{% endif %}">Home</a>
            <a href="{{ url_for('index') }}" class="{% if request.endpoint == 'index' %}active{% endif %}">Items</a>
            <a href="{{ url_for('chemicals') }}" class="{% if request.endpoint == 'chemicals' %}active{% endif %}">Chemicals</a>
            <a href="{{ url_for('documents') }}">  Documents</a>
            <a href="{{ url_for('add_item') }}">+ Add Item</a>
            <a href="{{ url_for('add_chemical') }}">+ Add Chemical</a>
            <a href="{{ url_for('export_csv') }}">Export Items CSV</a>
            <a href="{{ url_for('export_chemicals_csv') }}">Export Chem CSV</a>
        </nav>
    </header>

    <!-- Page Content -->
    <main class="container">
        {% block content %}{% endblock %}
    </main>
</body>
</html>
